.container{
    display: flex;
    flex-wrap: wrap;
}

.list{
    background-color: #4f0775;
    height: 100%;
    width: 16em;
    margin: 0.3em;
    border-radius: 0.3em;
    font-size: 16px;
}

.tituloLista{
    border-radius: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #28003d;

}

h3{
    word-wrap: break-word;
    overflow: auto;
    color: white;
}

.faicons{
    opacity: 0.2;
    color: white;
    cursor: pointer;
}

.faicons:hover{
    opacity: 1;
}

svg{
    margin-left: 0.5em;
}